:root {
    --MyBgColor:#fff;
    --MyTextColor:#1d4ed8 ;
    --bgTwoColor:#ededed;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--bgTwoColor);
}